
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>itistest222</title>
</head>
<body>
<h1>FaceBook Login Test Page</h1>
<div style="margin: 20px;">
    <a href="/oauth2/authorization/facebook"><h2>Click here to FaceBook Login.</h2></a>
    <a href="/oauth2/authorization/google"><h2>Click here to Google Login.</h2></a>
</div>
</body>
</html>